/* .Alert {
    color: darkred;
    font-style: bolder;
    border: 2px solid darkred;
    background-color: rgb(250, 201, 217);
    width: 20%;
}

.Alert.success {
    color: darkgreen;
    font-style: bolder;
    border: 2px solid darkgreen;
    background-color: palegreen;
} */