.NavBar {
    background-color: #379683;
    border-bottom: 10px solid #379683;
    padding-top: 5px;
}
.textlogo {
    display: inline;
    padding: 10px;
    /* color: #5CDB95; */
    color: #05386B;
}
.nav {
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #05386B;
}
.item {
    margin: 0px;
    padding: 10px;
    display: inline;
    font-size: 20px;
}
.button {
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px;
    background-color: #379683;
    color: #05386B;
}
.button:hover {
    background-color: #EDF5E1;
    color: #379683
  }
.button:focus {outline:0;}

